@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  background-color: rgb(241, 233, 233);
  /* background-image: linear-gradient(#0c0b0b, #110309e0); */
  /* background-image: linear-gradient(
    to right,
    rgb(32, 7, 32),
    rgb(39, 23, 23),
    rgb(29, 21, 29)
  ); */
}
